<div class="about-section">
    <h1 contenteditable class="container">Hotim Spatki</h1>
    <p class="header">Exclusive services for exclusive individuals</p>
    <p class="header">You say, we do.</p>
</div>

<h2 class="ourTeam" style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Zarina" style="width:100%">
            <div class="container">
                <h2>Zarina Kabduali</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>z_kabduali@kbtu.kz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Leila" style="width:100%">
            <div class="container">
                <h2>Leila Beken</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>l_beken@kbtu.kz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="Arailym" style="width:100%">
            <div class="container">
                <h2>Arailym Yermekali</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>a_ermekali@kbtu.kz</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
