<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <span>HotimSpatki</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>


    <span class="p-input-icon-left">
                        <input type="text" pInputText placeholder="Search">
                                            <i class="pi pi-search"></i>
                    </span>

    <div #topbarmenu class="layout-topbar-menu" >
        <button class="p-link layout-topbar-button" (click)="changeTheme('md-dark-indigo', 'dark')">Premium</button>
        <button class="p-link layout-topbar-button" routerLink="/cart">
            <i class="pi pi-shopping-cart"></i>
        </button>
        <button class="p-link layout-topbar-button" >
                <i class="pi pi-user" (click) = "menuVisible = !menuVisible"></i>
        </button>
    </div>
    <div *ngIf="menuVisible">
        <p-tieredMenu [model]="tieredItems"></p-tieredMenu>
    </div>
</div>
